{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset Complete" %}{% endblock %}

{% block content %}
<h3>{% trans 'Password Reset Complete' %}</h3>

<div class="row mt-3">
    <div class="col">
        <p>{% trans "Your password has been reset!" %}</p>
        <p>{% trans "You can now log in with your new password." %}</p>
        <a href="{% url 'login' %}?next={{ urlHome }}" class="btn btn-secondary"><i class="fa-solid fa-right-to-bracket"></i><span class="ms-2 d-sm-inline">{% trans "Login Now" %}</span></a>
</div>
{% endblock %}