{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset Sent" %}{% endblock %}

{% block content %}
<h3>{% trans 'Password Reset Sent' %}</h3>
<div class="row mt-3">
    <div class="col">
    <p>{% trans "An email with instructions to reset your password has been sent." %}</p>
    <a href="{% url 'login' %}?next={{ urlHome }}" class="btn btn-secondary"><i class="fa-solid fa-right-to-bracket"></i><span class="ms-2 d-sm-inline">{% trans "Back to Login" %}</span></a>
</div>
{% endblock %}
