{% extends "base.html" %}
{% load i18n static custom_tags %}

{% block title %}{% trans 'Reset Password' %}{% endblock %}

{% block content %}
<h3>{% trans 'Reset Password' %}</h3>

<!-- Messages -->
{% if messages %}
{% for message in messages %}
<div class="row mt-3">
    <div class="col">
        {% if message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-circle-check"></i>&nbsp;&nbsp;{{ message }}
        {% elif message.tags == "warning" %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-circle-exclamation"></i>&nbsp;&nbsp;{{ message }}
        {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-circle-xmark"></i>&nbsp;&nbsp;{{ message }}
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
    </div>
</div>
{% endfor %}
{% endif %}

<!-- Form -->
<form action="" method="post">
  {% csrf_token %}
  {% for error in form.email.errors %}
  <div class="row mt-3">
      <div class="col">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <i class="fa-solid fa-circle-xmark"></i>&nbsp;&nbsp;{{ error }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
      </div>
  </div>
  {% endfor %}
  
  <div class="mt-3">
    <p>{% trans 'Please enter your e-mail address to receive instructions for resetting your password.' %}</p>
  </div>
  <div class="mt-3">
    <label class="form-label" for="id_email">{% trans 'E-mail address:' %}</label>
    <input type="email" class="form-control" name="email" id="id_email" autocomplete="email" value="{{ object.email }}" maxlenght="254" required></input>
  </div>
  <div class="mt-3">
    <button type="submit" class="btn btn-success"><i class="fa-solid fa-paper-plane"></i><span class="ms-2 d-sm-inline">{% trans 'Send' %}</span></button>
  </div>
</form>

{% endblock %}
